@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;300&display=swap');

body, button, input, select, textarea{
    font-family: 'Poppins ', sans-serif;
}

*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

:root{
    --second-black: #2b84e9;
    --light-grey: #BFBFC1;
}

h1{
    font-size: 70px;
    font-weight: 300;
    margin: 0;
}

h3{
    font-weight: 300;
}

.iphone-container{
    width: 330px;
    height: 670px;
    border-radius: 47px;
    border: 20px solid #111;
    background: var(--second-black);
    position: relative;
    color: #FFF;
    text-align: center;
    padding: 100px 20px 40px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

 .iphone-container .notch{
    width: 180px;
    height: 25px;
    background: black;
    border-radius: 0 0 30px 30px;
    position: absolute;
    top: 0;
    left: calc(50% - 90px);
 }

 .iphone-container .iphone-menu{
    width: 90px;
    height: 5px;
    background: var(--light-grey);
    border-radius: 8px;
    position: absolute;
    bottom: 20px;
    left: calc(50% - 45px);
 }

 .iphone-container .top-icon{
    width: 50px;
    height: 50px;
 }

 .iphone-container .city-name{
    font-weight: 300;
    color: var(--light-grey);
 }

 .iphone-container .week{
    display: flex;
    justify-content: space-between;
 }

  .iphone-container .week .day{
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .iphone-container .week .day .temperature{
    margin-top: 15px;
    font-weight: 300;
    font-size: 14px;
 }

  .iphone-container .week .day .weekday{
    font-weight: 300;
    font-size: 15px;
 }

 .iphone-container .footer{
    display: flex;
    justify-content: space-between;
 }

  .iphone-container .footer svg{
    width: 30px;
    height: 30px;
 }